@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }


/* Inicio del Encabezado */

header {
    background-color: #fefefc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: Arial;
    margin: 0;
    padding: 10px;
}

.logo {
    height: 100px;
    vertical-align: middle;
    display: flex;
    margin-right: 15px;
    padding: 10px;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 7px 30vw 7px 5px;
    background-color: azure;
    border: solid;
    border-radius: 13px;
}

.search-bar, .sesion {
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}  

.logoUsuario {
    height: 50px;
}

.logoLupa {
    height: 25px;
}

.logoUsuario img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 0);
}


nav {
    align-items: end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

a {
    color: #00000f;
    text-decoration: none;
}


/* Fin del encabezado */


/* Inicio Carrusel V01

small {
    font-size: 80%;
}

  .carrusel {
    position: relative;
    touch-action: pan-y;
  }

  .carrusel-interno {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carrusel-interno::after {
    display: block;
    clear: both;
    content: "";
  }

  .item-carrusel {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .item-carrusel {
        transition: none;
    }
  }

  .item-carrusel.active,
  .item-carrusel-next,
  .item-carrusel-prev {
    display: block;
  }

  .item-carrusel-next:not(.item-carrusel-left),
  .active.item-carrusel-right {
    transform: translateX(100%);
  }

  .item-carrusel-prev:not(.item-carrusel-right),
  .active.item-carrusel-left {
    transform: translateX(-100%);
  }

  .carrusel-fade .item-carrusel {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }

  .carrusel-fade .item-carrusel.active,
  .carrusel-fade .item-carrusel-next.item-carrusel-left,
  .carrusel-fade .item-carrusel-prev.item-carrusel-right {
    z-index: 1;
    opacity: 1;
  }

  .carrusel-fade .active.item-carrusel-left,
  .carrusel-fade .active.item-carrusel-right {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }

  @media (prefers-reduced-motion: reduce) {
    .carrusel-fade .active.item-carrusel-left,
    .carrusel-fade .active.item-carrusel-right {
        transition: none;
    }
  }

  .control-prev-carrusel,
  .control-next-carrusel {
  position: absolute;
  top: 250px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fefefc;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  }

  @media (prefers-reduced-motion: reduce) {
    .control-prev-carrusel,
    .control-next-carrusel {
        transition: none;
    }
}

.control-prev-carrusel:hover, .control-prev-carrusel:focus
.control-next-carrusel:hover, .control-next-carrusel:focus {
    color: #fefefc;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.control-prev-carrusel {
    left: 0;
}

.control-next-carrusel {
    right: 80px;
}

.control-prev-carrusel,
.control-next-carrusel {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%;
}

.control-prev-carrusel-icono,
.control-next-carrusel-icono {
    height: 100px;
}

.carrusel-indicators {
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carrusel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fefefc;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    .carrusel-indicators li {
      transition: none;
    }
  }
  
  .carrusel-indicators .active {
    opacity: 1;
  }
  
  .carrusel-caption {
    background-color: #77a6c7;
    border: solid #00000f;
    border-radius: 13px;
    opacity: 80%;
    position: absolute;
    bottom: 160px;
    left: 25%;
    z-index: 10;
    padding: 20px;
    color: #00000f;
    text-align: center;
  }

  */

/* Inicio Carrusel V02 */

.carrusel {
  display: flex;
  width: 90%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.carrusel-item {
  flex: 0 0 100%;
  width: 100vh;
  object-fit: cover;
  margin: auto;
  display: flex;
  transition: transform 0.5s ease;
}

.carrusel-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

