@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }


header {
    background-color: #fefefc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: Arial;
    margin: 0;
    padding: 10px;
}

.logo {
    height: 100px;
    vertical-align: middle;
    display: flex;
    margin-right: 15px;
    padding: 10px;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 7px 30vw 7px 5px;
    background-color: azure;
    border: solid;
    border-radius: 13px;
}

.search-bar, .sesion {
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}  

.logoUsuario {
    height: 50px;
}

.logoLupa {
    height: 25px;
}

.logoUsuario img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 0);
}


nav {
    align-items: end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

a {
    color: #00000f;
    text-decoration: none;
}
